.cta {
  background: #fef9c3;
  color: white;
  text-align: center;
  padding: 4rem 2rem;
}
.btnPrimary {
  background: #0e0e55;
  padding: 0.9rem 2rem;
  border-radius: 12px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(251, 187, 85, 0.35);
  }
}