// Base Site Colors
$bl01: #97c7fc;
$bl02: #8abce5;
$bl03: #67a4e5;
$bl04: #4796ca;
$bl05: #5989b2;
$bl06: #205080;
$bl07: #0f3366;
$bl08: #011f53;
$bl09: #001138;
$bl10: #000319;
$bl11: #000003;

// Account Settings Colors
$gr01: #2491b2;
$gr02: #206980;
$gr03: #0f5266;
$gr04: #02261f;

// Background Colors
$grl01: #fcffff;
$grl02: #e5fbff;
$grl03: #bff0ff;

