// _spacing.scss
$space-004: 0.25rem;  // 4px
$space-008: 0.5rem;   // 8px
$space-012: 0.75rem;  // 12px
$space-016: 1rem;     // 16px
$space-020: 1.25rem;  // 20px
$space-024: 1.5rem;   // 24px
$space-032: 2rem;     // 32px
$space-036: 2.25rem;  // 36px
$space-040: 2.5rem;   // 40px
$space-048: 3rem;     // 48px
$space-060: 3.75rem;  // 60px
$space-072: 4.5rem;   // 72px
$space-080: 5rem;     // 80px
$space-120: 7.5rem;   // 120px
$space-160: 10rem;    // 160px
$space-200: 12.5rem;  // 200px
$space-240: 15rem;   // 240px
