// _typography.scss
$font-1-t-xxl: 4rem/4.5rem "Chathura", ; // 64/72
$font-1-xxl: 4rem/4.5rem "Roboto", sans-serif; // 64/72
$font-1-xl: 2rem/2.5rem "Roboto", sans-serif; // 32/40
$font-1-l: 1.5rem/2.25rem "Roboto", sans-serif; // 24/36
$font-1-l-b: 1.5rem/2.25rem "Roboto", sans-serif; // 24/36 BOLD ALL CAPS
$font-2-l: 1.5rem/2.25rem "Open Sans", sans-serif; // 24/36
$font-2-l-b: 1.5rem/2.25rem "Open Sans", sans-serif; // 24/36 BOLD ALL CAPS
$font-1-m: 1.125rem/1.5rem "Roboto", sans-serif; // 18/24
$font-1-m-b: 1.125rem/1.5rem "Roboto", sans-serif; // 18/24 BOLD
$font-2-m: 1.125rem/1.5rem "Open Sans", sans-serif; // 18/24
$font-2-m-b: 1.5rem/2.25rem "Open Sans", sans-serif; // 24/36 BOLD
$font-1-s: 1rem/1.5rem "Roboto", sans-serif; // 16/24
$font-2-s: 1rem/1.5rem "Open Sans", sans-serif; // 16/24
$font-1-xs: 0.875rem/1.25rem "Roboto", sans-serif; // 14/20
$font-2-xs: 0.875rem/1.25rem "Open Sans", sans-serif; // 14/20
$font-2-i-xs: 0.875rem/1.25rem "Open Sans", sans-serif; // italic
$font-1-xxs: 0.75rem/1.125rem "Roboto", sans-serif; // 12/18
$font-2-xxs: 0.75rem/1.125rem "Open Sans", sans-serif; // 12/18
