@use "@/styles/abstracts/variables" as v;

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;

  font-size: 16px;
  line-height: 1.5;
  color: v.$text-primary;
}
